**1. Import Necessary Libraries**

In [8]:
import pandas as pd
import numpy as np

**2. To read the data into Python.**

In [ ]:
df = pd.read_csv('preprocessed_engineered_data.csv')
df.head()

,Date,Open,High,Low,Close,Shares Traded,Turnover (Cr Rs)
0,2024-08-12,24320.05,24472.80,24212.10,24347.00,279925100,30311.85
1,2024-08-13,24342.35,24359.95,24116.50,24139.00,239727640,25459.58
2,2024-08-14,24184.40,24196.50,24099.70,24143.75,303254705,27834.61
3,2024-08-16,24334.85,24563.90,24204.50,24541.15,271611087,28521.90
4,2024-08-19,24636.35,24638.80,24522.95,24572.65,243645503,22124.41

**3. To produce a numerical summary of the variables in the data set.**

In [10]:
df.describe()

,Open,High,Low,Close,Shares Traded,Turnover (Cr Rs)
count,249.000000,249.000000,249.000000,249.000000,2.490000e+02,249.000000
mean,24265.656024,24378.899598,24138.593173,24257.550201,3.125471e+08,29410.097550
std,929.147347,916.159219,933.388444,922.539753,1.004560e+08,9363.829115
min,21758.400000,22105.050000,21743.650000,22082.650000,3.881139e+07,3348.450000
25%,23543.800000,23689.850000,23433.500000,23532.700000,2.518498e+08,24202.410000
50%,24419.500000,24537.600000,24295.550000,24435.500000,2.875352e+08,27573.990000
75%,24999.400000,25073.100000,24825.900000,24971.300000,3.510820e+08,32606.340000
max,26248.250000,26277.350000,26151.400000,26216.050000,8.538910e+08,89554.910000

In [11]:
numerical_cols = df.select_dtypes(include=np.number).columns
print(numerical_cols)

Index(['Open', 'High', 'Low', 'Close', 'Shares Traded', 'Turnover (Cr Rs)'], dtype='object')

**4. Coefficient Of Variation**

In [12]:
print("--- Coefficient of Variation (CV) ---")
for col in numerical_cols:
    mean = df[col].mean()
    std = df[col].std()
    if mean != 0:
        cv = (std / mean) * 100
        print(f"CV for {col}: {cv:.2f}%")
    else:
        print(f"CV for {col}: Mean is zero, cannot calculate CV.")

--- Coefficient of Variation (CV) ---
CV for Open: 3.83%
CV for High: 3.76%
CV for Low: 3.87%
CV for Close: 3.80%
CV for Shares Traded: 32.14%
CV for Turnover (Cr Rs): 31.84%

**5. Median and Mode**

In [13]:
print("--- Median and Mode ---")
for col in numerical_cols:
    median = df[col].median()
    mode = df[col].mode()
    mean = df[col].mean()
    print(f"{col}:")
    print(f"  Mean: {mean:.2f}")
    print(f"  Median: {median:.2f}")
    if not mode.empty:
        print(f"  Mode: {', '.join(mode.astype(str).tolist())}")
    else:
        print("  Mode: No unique mode found (or multiple modes)")

--- Median and Mode ---
Open:
  Mean: 24265.66
  Median: 24419.50
  Mode: 21758.4, 21974.45, 22073.05, 22194.55, 22345.95, 22353.15, 22433.4, 22446.75, 22460.3, 22476.35, 22508.65, 22516.45, 22521.85, 22536.35, 22541.5, 22568.95, 22609.35, 22662.25, 22695.4, 22809.9, 22821.1, 22847.25, 22857.2, 22874.95, 22940.15, 22960.45, 22963.65, 23026.75, 23036.6, 23050.8, 23055.75, 23096.45, 23099.15, 23128.3, 23150.3, 23165.9, 23168.25, 23169.5, 23183.9, 23190.4, 23192.6, 23195.4, 23250.45, 23277.1, 23290.4, 23296.75, 23319.35, 23341.1, 23344.1, 23368.35, 23377.25, 23383.55, 23401.85, 23411.8, 23421.65, 23433.95, 23488.45, 23509.9, 23515.4, 23528.6, 23529.55, 23542.15, 23543.8, 23551.9, 23560.6, 23600.4, 23605.3, 23637.65, 23649.5, 23674.75, 23679.9, 23700.95, 23738.2, 23746.65, 23751.5, 23761.95, 23769.1, 23775.8, 23783.0, 23796.9, 23801.4, 23801.75, 23822.45, 23877.15, 23916.5, 23927.15, 23935.75, 23949.15, 23960.7, 24045.8, 24070.25, 24087.25, 24140.85, 24184.4, 24185.4, 24196.4, 24204.8, 24207.7, 24225.8, 24233.3, 24251.1, 24253.55, 24274.15, 24277.9, 24289.0, 24297.95, 24302.75, 24308.75, 24311.9, 24315.75, 24320.05, 24328.85, 24334.85, 24342.05, 24342.35, 24343.3, 24349.85, 24357.6, 24367.5, 24370.7, 24371.45, 24378.15, 24412.7, 24418.05, 24419.5, 24420.1, 24431.5, 24464.2, 24473.0, 24488.75, 24489.6, 24498.35, 24500.75, 24539.15, 24544.25, 24560.45, 24584.8, 24596.05, 24604.45, 24609.65, 24613.8, 24620.5, 24633.9, 24636.35, 24639.5, 24641.35, 24642.25, 24648.9, 24652.65, 24664.95, 24669.7, 24680.55, 24691.2, 24694.45, 24720.25, 24729.45, 24732.35, 24733.95, 24734.9, 24744.25, 24748.7, 24753.4, 24782.45, 24786.3, 24787.65, 24788.35, 24798.65, 24803.25, 24812.6, 24823.4, 24825.1, 24832.2, 24832.5, 24845.4, 24863.4, 24864.05, 24890.4, 24906.1, 24919.35, 24939.75, 24956.15, 24956.65, 24977.85, 24985.3, 24996.2, 24999.0, 24999.4, 25005.35, 25008.55, 25010.35, 25023.45, 25024.8, 25027.4, 25030.8, 25034.0, 25035.3, 25059.65, 25064.65, 25065.8, 25067.05, 25084.1, 25089.5, 25089.95, 25093.7, 25108.55, 25134.15, 25139.35, 25149.5, 25150.35, 25160.1, 25164.45, 25166.65, 25179.9, 25181.9, 25186.3, 25196.05, 25196.6, 25230.75, 25243.3, 25249.7, 25250.5, 25255.5, 25268.95, 25313.4, 25333.6, 25402.4, 25406.65, 25416.9, 25427.85, 25428.85, 25430.45, 25450.45, 25452.85, 25487.05, 25505.1, 25511.65, 25514.6, 25525.95, 25551.35, 25576.65, 25588.3, 25661.65, 25788.45, 25872.55, 25899.45, 25921.45, 26005.4, 26061.3, 26248.25
High:
  Mean: 24378.90
  Median: 24537.60
  Mode: 25010.35, 25029.5
Low:
  Mean: 24138.59
  Median: 24295.55
  Mode: 21743.65, 21964.6, 22004.7, 22067.8, 22104.85, 22245.85, 22270.85, 22314.7, 22329.55, 22353.15, 22353.25, 22377.35, 22429.05, 22464.75, 22508.4, 22513.9, 22518.8, 22599.2, 22695.4, 22720.3, 22725.45, 22774.85, 22786.9, 22798.35, 22801.5, 22807.95, 22812.75, 22814.85, 22857.45, 22857.65, 22973.95, 22976.5, 22976.85, 22981.3, 22986.65, 22992.2, 23047.25, 23050.0, 23090.65, 23100.35, 23132.8, 23134.15, 23136.4, 23139.2, 23145.8, 23146.45, 23158.45, 23170.65, 23207.0, 23222.0, 23263.15, 23272.05, 23273.05, 23277.4, 23298.55, 23316.3, 23318.3, 23344.35, 23350.4, 23359.0, 23412.2, 23423.15, 23433.5, 23443.2, 23450.2, 23451.7, 23460.45, 23464.8, 23484.15, 23496.15, 23503.05, 23509.6, 23537.35, 23551.9, 23556.25, 23562.8, 23599.3, 23601.4, 23637.8, 23647.2, 23653.6, 23680.45, 23685.15, 23751.55, 23800.6, 23816.15, 23839.15, 23842.75, 23847.85, 23870.3, 23873.35, 23903.65, 23927.15, 23935.75, 23976.0, 24004.6, 24008.65, 24054.05, 24066.65, 24072.0, 24073.9, 24099.7, 24116.5, 24119.95, 24125.4, 24134.9, 24135.45, 24140.85, 24145.65, 24149.85, 24150.2, 24172.6, 24179.05, 24180.8, 24198.75, 24204.05, 24204.5, 24212.1, 24216.15, 24220.0, 24238.5, 24280.0, 24280.2, 24290.75, 24295.55, 24303.45, 24307.3, 24331.8, 24337.5, 24341.2, 24344.15, 24366.3, 24378.1, 24378.85, 24400.65, 24445.8, 24462.4, 24473.0, 24494.45, 24502.15, 24510.65, 24522.95, 24526.15, 24527.95, 24530.45, 24535.05, 24535.55, 24539.2, 24547.5, 24554.0, 24567.65, 24580.05, 24583.85, 24590.3, 24598.6, 24601.75, 24607.2, 24613.1, 24614.05, 24620.5, 24635.0, 24646.6, 24654.5, 24669.7, 24671.45, 24677.3, 24679.6, 24685.35, 24694.35, 24703.6, 24704.1, 24717.4, 24728.9, 24733.4, 24737.05, 24750.45, 24753.15, 24756.8, 24771.65, 24771.95, 24783.65, 24784.45, 24801.3, 24806.35, 24813.7, 24824.85, 24825.9, 24874.7, 24882.3, 24885.15, 24896.8, 24900.5, 24908.45, 24916.65, 24918.65, 24920.05, 24941.45, 24947.7, 24953.05, 24964.65, 24966.8, 24973.65, 24979.4, 24998.5, 24999.7, 25001.95, 25008.15, 25017.5, 25018.7, 25035.55, 25055.45, 25077.15, 25081.3, 25083.8, 25085.5, 25088.45, 25101.0, 25121.05, 25125.05, 25127.75, 25129.0, 25199.4, 25230.3, 25235.5, 25235.8, 25259.9, 25285.55, 25292.45, 25331.65, 25336.2, 25340.45, 25352.25, 25376.05, 25378.75, 25384.35, 25407.25, 25424.15, 25424.35, 25426.6, 25473.3, 25501.8, 25523.55, 25739.2, 25794.1, 25847.35, 25871.35, 25886.85, 25998.4, 26151.4
Close:
  Mean: 24257.55
  Median: 24435.50
  Mode: 25062.1
Shares Traded:
  Mean: 312547090.31
  Median: 287535243.00
  Mode: 38811387, 154921938, 168694880, 176821521, 177664746, 177681783, 187252712, 187551629, 189758237, 193511595, 193627727, 196051345, 206423311, 206800655, 206999204, 207393944, 209187756, 210266456, 210410530, 210462717, 210616675, 212131921, 214317552, 215727159, 215956868, 216686434, 219609322, 220345125, 220384187, 220419448, 222242223, 222815249, 223346636, 225091071, 225529166, 226731303, 226774456, 228039156, 228815928, 230691771, 235346534, 237599011, 238318940, 239081546, 239727640, 240836647, 241340130, 241978957, 242415740, 242753984, 243412540, 243645503, 243886726, 247423786, 248139308, 248534153, 249987681, 250279519, 250781898, 251102239, 251208119, 251274802, 251849778, 252755662, 253260641, 253788501, 254367252, 254479643, 255254340, 255825829, 257114212, 257228772, 257372790, 257708474, 259329477, 259533624, 260582584, 260669106, 261022434, 261048951, 261364749, 262142969, 262337253, 263311912, 263357194, 264336332, 264881033, 265706855, 266051129, 266375381, 267014345, 267969979, 269239831, 270470348, 270981274, 271128027, 271539651, 271611087, 272578844, 272945267, 273370562, 274619935, 275558357, 275951918, 278061806, 278136104, 278540972, 278562235, 278590831, 279219989, 279229206, 279484697, 279656513, 279925100, 280862575, 282104071, 282399735, 283196379, 283200811, 284556771, 284657235, 285196335, 285531635, 287007588, 287535243, 287703637, 289230479, 289511197, 289765795, 290562844, 290855392, 291471628, 293428797, 293855491, 295011445, 297477279, 298725122, 299416081, 301245273, 301455455, 302354059, 302799227, 303254705, 304569316, 305216414, 305813047, 305942691, 306978683, 307323471, 309828013, 310080852, 311100908, 311235510, 311671856, 311900413, 312279515, 312630157, 312871897, 313729818, 314461263, 316481107, 316979826, 318711364, 320467976, 322185588, 323992121, 326919177, 328310748, 330137191, 332044690, 332724952, 333220055, 335550680, 335581057, 338216746, 338728860, 339470947, 340970371, 345370611, 345490805, 346303628, 347241171, 347924102, 348003156, 348424960, 349288937, 351082031, 353993900, 357563224, 358768165, 361469920, 361868609, 364929453, 366745300, 367562789, 368092482, 368707684, 369736725, 370895477, 372083680, 372642214, 374345795, 374914801, 375118343, 375370974, 376742506, 380069653, 383822618, 384115033, 384687127, 387455531, 387741866, 388321931, 388405978, 402162001, 403279638, 406145632, 411362230, 414799113, 415042544, 420332354, 421112627, 422977876, 423395030, 424452559, 428891818, 432717092, 440940490, 442714411, 450185468, 466776198, 468250807, 483725120, 490332370, 500821889, 505333905, 510302142, 525653668, 533067422, 540966316, 551285287, 563957748, 574654035, 616739190, 638166179, 647107618, 684425321, 687172787, 853890978
Turnover (Cr Rs):
  Mean: 29410.10
  Median: 27573.99
  Mode: 3348.45, 14266.26, 16010.71, 16695.1, 16923.26, 17164.99, 18243.28, 18608.23, 18646.79, 18705.01, 19101.33, 19431.37, 19809.44, 19817.93, 20060.68, 20200.73, 20372.68, 20549.5, 20559.22, 20772.95, 20797.88, 21254.72, 21270.9, 21303.88, 21435.36, 21446.95, 21587.78, 21592.23, 21598.6, 21734.97, 21818.05, 21907.07, 21947.32, 21994.37, 22044.05, 22049.89, 22124.41, 22166.86, 22254.54, 22307.38, 22330.86, 22485.65, 22855.58, 22979.56, 22985.17, 23042.49, 23134.22, 23162.75, 23179.85, 23282.7, 23315.92, 23316.33, 23501.33, 23525.25, 23620.79, 23815.36, 23857.15, 23904.13, 23921.02, 24115.83, 24122.27, 24140.67, 24202.41, 24227.03, 24334.3, 24412.46, 24531.7, 24673.48, 24715.35, 24718.54, 24814.37, 24825.74, 24838.56, 24917.83, 24972.45, 24976.54, 25017.6, 25091.04, 25099.79, 25180.28, 25218.86, 25257.33, 25273.64, 25280.83, 25459.58, 25462.05, 25478.73, 25530.69, 25585.37, 25606.21, 25741.04, 25806.44, 25853.64, 25871.18, 25942.05, 25954.42, 26062.25, 26093.38, 26251.65, 26272.38, 26293.35, 26330.8, 26371.61, 26387.47, 26481.15, 26600.28, 26681.66, 26695.0, 26765.16, 26793.85, 26852.73, 26877.28, 26890.37, 26918.36, 26989.94, 26994.19, 26994.95, 27040.78, 27191.96, 27276.14, 27333.97, 27404.63, 27433.34, 27473.29, 27573.99, 27648.34, 27670.3, 27723.78, 27765.81, 27815.23, 27817.66, 27834.61, 27846.31, 27868.08, 28046.45, 28102.36, 28136.06, 28187.71, 28235.17, 28278.82, 28521.9, 28638.01, 28813.93, 28832.0, 28871.35, 28906.4, 28942.61, 28996.55, 29113.88, 29156.37, 29208.22, 29395.73, 29411.99, 29573.27, 29730.05, 29775.64, 29784.82, 30041.71, 30042.0, 30074.77, 30106.72, 30186.46, 30311.85, 30362.27, 30429.73, 30436.88, 30477.71, 30486.78, 30509.98, 30550.28, 30579.52, 30680.7, 30877.63, 30885.59, 30971.89, 31063.03, 31068.7, 31149.09, 31174.05, 31248.06, 31561.52, 31772.76, 31928.1, 32019.13, 32207.22, 32237.25, 32606.34, 32801.59, 33001.17, 33057.29, 33125.62, 33221.8, 33403.89, 33406.41, 33430.86, 33493.36, 33638.3, 33683.6, 33761.96, 33823.95, 34043.27, 34108.84, 34216.17, 34228.3, 34389.27, 34527.08, 34576.66, 34639.78, 35252.87, 35415.03, 35479.29, 35508.9, 35573.63, 35574.59, 35579.48, 35974.3, 36028.06, 36893.06, 37068.91, 37143.55, 37226.82, 38135.74, 38450.09, 38689.39, 39257.52, 40471.33, 40550.24, 40838.36, 40900.89, 41073.48, 41198.27, 41747.91, 42719.71, 43221.73, 43815.86, 44147.39, 45689.5, 46481.84, 47084.68, 47108.6, 49172.14, 51005.67, 52247.87, 52745.2, 55420.63, 55782.03, 68915.27, 85975.81, 89554.91

**6. Skewness Coefficient**

In [14]:
print("--- Skewness Coefficient ---")
for col in numerical_cols:
    skewness = df[col].skew()
    print(f"Skewness for {col}: {skewness:.2f}")
    if skewness > 0.5:
        print(f"  - {col} is right-skewed.")
    elif skewness < -0.5:
        print(f"  - {col} is left-skewed.")
    elif skewness >= -0.5 and skewness <= 0.5:
        print(f"  - {col} is fairly symmetrical.")
    else:
        print(f"  - {col} shows moderate skewness.")

--- Skewness Coefficient ---
Skewness for Open: -0.45
  - Open is fairly symmetrical.
Skewness for High: -0.45
  - High is fairly symmetrical.
Skewness for Low: -0.39
  - Low is fairly symmetrical.
Skewness for Close: -0.40
  - Close is fairly symmetrical.
Skewness for Shares Traded: 1.72
  - Shares Traded is right-skewed.
Skewness for Turnover (Cr Rs): 2.62
  - Turnover (Cr Rs) is right-skewed.

**Conclusion of 4,5,6th steps: Presence Of Potential Outliers**

Since,
* Coefficient of Variation of attribute `Shares Traded` & `Turnover` is higher,
* comparison of Mean, Median and Mode:
    - For `Shares Traded`, Mean > Median
    - For `Turnover`, Mean > Median
* Skewness Coefficient for the above attributes further shows their values are higher than 0.5

We conclude that the above mentioned attributes have **potential outliers** and **right-Skewed**.

----
**FURTHER EXPLORATIONS WILL BE IN EXPLORATORY DATA ANALYSIS (EDA)**

-----